.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card{
   width: 400px;
   height: 600px;
   #background-color: burlywood;
   background-color: #BC8F8F;
   font-family: Arial, sans-serif;
   #color: #252505;
   color: #302010;
   border-radius: 60px;
}

.card:hover {
    background-color: #0080ff;
    width: 410px;
    height: 610px;
    transition: 1s;
}

.photo {
   height: 40%;
   padding: 40px;
}

.info {
   padding: 40px;
   height: 40%;
}

img {
   position: relative;
   left:5%;
   border-radius: 20px;
}