div {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    border-radius: 50%;
    /*position: absolute;
    bottom: 100px;
    right: 100px;*/
    transition: 1s;
}

div:hover {
    background-color: #0080ff;
    width: 150px;
    height: 150px;
    # добавляем свойство для плавности:
    transition: 1s;
}

a:link {
    color: deeppink;
}

a:visited {
    color: olivedrab;
}

a:active{
    color: royalblue;
}

/*
h1::first-letter{
    color: deeppink;
    font-size: 50px:
    border-radius: 10px;
    background-color: bisque;
}

h1::before{
    content: 'Город ';
    color: deeppink;
    font-size: 50px:
    border-radius: 10px;
    background-color: bisque;
}

h1:after{
    content: ' (Сибирь)';
    color: deeppink;
    font-size: 50px:
    border-radius: 10px;
    background-color: bisque;
}
*/